<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" class="next-head">
    <title class="next-head">Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Page not found</h1>
  </body>
</html>