<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" class="next-head">
    <title class="next-head">Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>